<h1> celebrities page</h1>

{{#each myCelebrities}}
<ul>
    <li>{{this.name}} // {{this.occupation}} // {{this.catchPhrase}} </li>
</ul>
{{/each}}

<a href="celebrities/new" >CREATE NEW CELEBRITY</a>